*{
    margin: 0;
    padding: 0;
}

#add{
    color: #FFF;
    padding-bottom: 2vh;
}

body{
    background: #1E4B95;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
}


label{
    color: #FFF;
    margin-top: 2vw;
    margin-bottom: 1vh;
}

div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main{
    width: 100%;
    padding-left: 2vw;
    display: flex;
}

.bar{
    width: 5px;
    border-radius: 4px;
    background: #1E4B95;
    transform: rotate(180deg);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub{
    margin-top: 5vw;
    width: 100%;
    border-radius: 4px;
}

.container{
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.offers_db{
    background: #FFF;
    padding: 50px;
    border-radius: 4px;
    line-height: 2;
    margin-top: 2vh;
    margin-right: 2vw;
}
input{
    outline: none;
    border: none;
    padding-left: 2vw;
    width: 30vw;
    height: 7vh;
    border-radius: 4px;
    margin-bottom: 1vh;
}

a{
    color: #1E4B95;
}